.container {
  display: flex;
  justify-content: space-between;
}

.element {
  background-color: aqua;
  padding: 10;
  border: 1px solid black;
  margin: 5px;
}

.section2 {
  background-color: red;
  display: flex;
}

@media (min-width: 640px) {
  .container {
    display: flex;
  }
}
